# MRL FireCore v1.0 local environment example
MRL_ORIGIN_SIGNATURE=MrLiouWord
MRL_FIRECORE_MODE=local_backfill
MRL_FIRECORE_NO_DEPLOY=1
MRL_DL580_BRIDGE_URL=https://bridge.mrliouword.com
MRL_FIRECORE_API_HOST=firecore.mrliouword.com
MRL_KV_NAMESPACE=mrliouword-vault
MRL_R2_BUCKET=mrl-firecore-vault
MRL_D1_DATABASE=mrliouword-db
MRL_SIGNING_ALGORITHM=ed25519
